* {
    box-sizing: border-box;
}

input[type=file] {
    display: none;
}

html, body {
    margin: 0;
}

textarea {
    resize: none;
    height: 150px;
    width: 150px;
}

p {
    margin: 0px;
    line-height: 24px;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
    padding: 8px;
}

#owner_img img {
    width: 48px;
    height: 48px;
    margin-bottom: -4px;
}

#user_img img {
    width: 48px;
    height: 48px;
    margin-bottom: -4px;
}

.postImage {
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.myImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.outer-div {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: minmax(0, 1fr);
}

#result {
    height: 100%;
    overflow: auto;
}

.database-list {
    padding: 8px;
    display: grid;
    grid-auto-rows: max-content;
    background-color: lightgray;
}

.database-name {
    padding: 8px 16px;
    text-align: left;
    border: 1px solid blue;
}

.database-name:not(:first-child) {
    margin-top: 8px;
}

.inner{
    display: inline-block;
}