<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/constants.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createPost.css') }}">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <form method="POST" action="{{ url_for('createPost_form') }}" enctype="multipart/form-data" class="form"
        autocomplete="off">

        <div class="topHeader">
            <h1>Crea Post</h1>
        </div>
        <div class="title">
            <label for="title">Titolo Post</label>
            <input type="text" name="title" id="title" placeholder="Titolo Post" maxlength="28" required="true">
        </div>
        <div class="category">
            <label for="category">Categoria Post</label>
            <input type="text" name="category" id="category" placeholder="Categoria Post" maxlength="28"
                required="true">
        </div>
        <div class="postImageContainer">
            <label class="imgLabel" for="profileImageFile">
                <div class="postImage">
                    <img id="myImg" src="http://via.placeholder.com/500/e2e2e2/606d81?text=Nessuna%20Immagine%20Selezionata"
                        alt="">
                </div>
            </label>
            <input name="postImageFile" id="profileImageFile" type="file" accept="image/*" required="true">
        </div>
        <div class="actions">
            <button type="button" class="cancel" id="cancelBtn" onclick="location.href='/home'">Annulla</button>
            <button type="submit" class="save" id="buttonSubmit">Salva</button>
        </div>
    </form>

    <script>
        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#myImg').attr('src', e.target.result);
        };
    </script>
</body>

</html>